TSP.Net/Proiect3_2020/MyPhotos/MyPhotosViews/Connected Services/ServiceReference1/photoAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjectWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjectWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhotoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoDTO" nillable="true" type="tns:PhotoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoDTO" nillable="true" type="tns:ArrayOfPhotoDTO" />
  <xs:complexType name="PhotoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoDTO" nillable="true" type="tns:PhotoDTO" />
</xs:schema>