TSP.Net/Proiect2_2020/MyPhotos/MyPhotosClient/Connected Services/ClientPhotoService/photoAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyPhotos.Context" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyPhotos.Context" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Photo" nillable="true" type="tns:Photo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoto" nillable="true" type="tns:ArrayOfPhoto" />
  <xs:complexType name="Photo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locations" nillable="true" type="tns:ArrayOfLocation" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="People" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="PhotoId" type="xs:int" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Photo" nillable="true" type="tns:Photo" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfPhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfPhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tags" nillable="true" type="tns:Tags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTags" nillable="true" type="tns:ArrayOfTags" />
  <xs:complexType name="Tags">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfPhoto" />
      <xs:element minOccurs="0" name="TagId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" nillable="true" type="tns:Tags" />
</xs:schema>